<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="todo">
            <h2><span jhiTranslate="todo1App.todo.detail.title">Todo</span> {{ todo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="todo1App.todo.description">Description</span></dt>
                <dd>
                    <span>{{ todo.description }}</span>
                </dd>
                <dt><span jhiTranslate="todo1App.todo.username">Username</span></dt>
                <dd>
                    <span>{{ todo.username }}</span>
                </dd>
                <dt><span jhiTranslate="todo1App.todo.doneDate">Done Date</span></dt>
                <dd>
                    <span>{{ todo.doneDate }}</span>
                </dd>
                <dt><span jhiTranslate="todo1App.todo.isDone">Is Done</span></dt>
                <dd>
                    <span>{{ todo.isDone }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/todo', todo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
